body,
html{

    margin: 0;
    height: 100vh; 
    background: linear-gradient(rgb(87, 245, 67), rgb(113, 250, 147));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-size:cover;
}

#formulariodecontacto{
    background-color: blue;
    padding: 20px;
    border-radius: 16px;
    width: 40%;
    height:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:140px;
    padding-right:30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow:5px 5px 5px 5px rgb(248, 248, 139);
}

form{
display: flex;
flex-direction: column;
gap: 15px;
position:relative;
height:450px;
}

label{
margin-left: 10px;
font-weight: 700;
font-size:20px;
color:yellow;
}

input{
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 70%;
    padding: 10px;
    padding-right: 0;
}

h1{
    position:absolute;
    left:550px;
    margin:0;
    color:yellow;
    
}

button{
  background-color: rgb(125, 125, 247);
  border: 2px solid black;
  border-radius: 16px;
  padding: 15px;
  color: yellow;
  width:150px;
  position:absolute;
  left:130px;
  top:380px;
  font-size:20px;
  font-weight:bold;
}

button:hover {
    background-color: black;
    color:white;
    cursor: pointer;
  }

  input:focus,
input:hover {
  border-width: 2px;
  border-style: solid;
  border-color: yellow;
  outline: none;
}